{
  "plugins": [
    "babel-plugin-add-module-exports"
  ],
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "sourceMap": "inline",
      "presets": [
        "power-assert"
      ]
    }
  }
}
